/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1370px; /* Adjust as needed for your preferred width */
  margin: 0 auto; /* Center the content */
  padding: 0 20px; /* Add padding for smaller screens */
  
}

body {
  font-family: "Space Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(41, 41, 42);
  background-image: linear-gradient(rgb(55, 0, 92), rgba(26, 0, 51, 0.75)), url(Pics/Space.jpg);
  
}

p {
  color: rgb(220, 220, 220);
}

/* TRANSITION */

a,
.btn {
  transition: background-color 300ms ease, opacity 300ms ease;
}

/*Added this*/
@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.blur-effect {
  animation: blurIn 1.5s forwards;
}
/*Added this*/

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  transition-delay: 600ms;
  
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  transition-delay: 600ms;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: white;
  transition-delay: 600ms;
}

a:hover {
  color: rgb(107, 65, 143);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(120, 35, 218);
}

.logo {
  font-size: 2rem;
  color: white;
}

.logo:hover {
  cursor: pointer;
  transition: all 300ms ease;
  color: rgb(107, 65, 143);
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(0, 0, 0);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  color: white;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100hv;
}

form {
  background-color: #222; /* Slightly lighter shade for the form background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(27, 27, 27, 0.1);
}

.form-label {
  color: #cecece; /* Light grey for labels */
}

.form-control {
  background-color: #1d1d1d;
  border: 1px solid #303030;
  color: #ddd; /* Light grey for input text */
}

.form-control::placeholder {
  color: #363636;
}

.btn-primary {
  background-color: #007bff; /* Consider changing this to fit the black aesthetic, e.g., #333 */
  border: none;
}

.btn-primary:hover {
  background-color: #380f72; /* Darker on hover */
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.contact-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
}




.section-container {
  display: flex;
  color: white;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  height: 80vh;
  color: white;
}

.section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; /* Adjust space between text and image */
}



@keyframes waveHand {
  0% {
    transform: rotate(0deg); /* Start at original position */
  }
  20% {
    transform: rotate(15deg); /* Move hand to the right */
  }
  40% {
    transform: rotate(-10deg); /* Move hand to the left */
  }
  60% {
    transform: rotate(15deg); /* Move hand to the right again */
  }
  100% {
    transform: rotate(0deg); /* Return to original position */
  }
}

/*nod yes animation*/

@keyframes nodHead {
  0%, 100% {
      transform: translateY(0) rotate(0deg); /* Start and end in the original position */
  }
  50% {
      transform: translateY(-0px) rotate(-2deg); /* Move up and rotate left */
  }
}

/*Left Arm moving*/

@keyframes LeftArmMovement {
  0%, 100% {
      transform: translateY(0) rotate(0deg); /* Start and end in the original position */
  }
  50% {
      transform: translateY(0px) rotate(-1deg); /* Move up and rotate left */
  }
}


/*Left Hand moving*/

@keyframes LeftHandMovement {
  0%, 100% {
      transform: translateY(0) rotate(0deg); /* Start and end in the original position */
  }
  50% {
      transform: translateY(-10px) rotate(7deg); /* Move up and rotate left */
  }
}

/*Left Shoe moving*/

@keyframes LeftShoeMovement {
  0%, 100% {
      transform: translateY(0) rotate(0deg); /* Start and end in the original position */
  }
  65% {
      transform: translateY(-10px) rotate(3deg); /* Move up and rotate left */
  }
}


/*Right Hand moving*/

@keyframes RightHandMovement {
  0%, 100% {
      transform: translateY(0) rotate(0deg); /* Start and end in the original position */
  }
  50% {
      transform: translateY(1px) rotate(-2deg); /* Move up and rotate left */
  }
}

/*Tail moving*/

@keyframes tailWiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
  
  /* Adding stops for quick movement and pause */
  0%, 0% { transform: rotate(0deg); } /* pause */
}

.handcontainer {

  position: absolute; 
  top: 100px;
  left: 275px;
  width: 500px;  /* Adjust the width of the container */
  height: 300px;

  animation: waveHand 2s ease-in-out infinite; /* 2 seconds, smooth motion, infinite loop */
  }

  .handcontainer img {
    width: 100%; /* Ensure the image scales down to fit within the container */
    height: 100%; /* Keep the image’s aspect ratio */
  }



      /* This is the body part of the character*/

      .sectionPicBody {

        position: absolute; 
        top: 350px;
        left: 1000px;
        height: auto; 
        width: 10%;

        
        }
        
        .sectionPicBody img {
          width: 400px; /* Ensure the image scales down to fit within the container */
          height: 400px; /* Keep the image’s aspect ratio */
        }





/* This is the head part of the character*/

  .sectionPicHead {

    position: absolute; 
    top: 107px;
    left: 992px;
    height: auto; 
    width: 10%;
    animation: nodHead 1s ease-in-out infinite; /* Animation attached here */

    
    }
    
    .sectionPicHead img {
      width: 500px; /* Ensure the image scales down to fit within the container */
      height: 320px; /* Keep the image’s aspect ratio */
    }








    /* This is the left arm part of the character*/

    .sectionPicLeftArm {

      position: absolute; 
      top: 334px;
      left: 880px;
      height: auto; 
      width: 10%;
      /*animation: LeftArmMovement 1s ease-in-out infinite;  Animation attached here */
      
      }
      
      .sectionPicLeftArm img {
        width: 255px; /* Ensure the image scales down to fit within the container */
        height: 115px; /* Keep the image’s aspect ratio */
      }







    /* This is the left hand part of the character*/

      .sectionPicLeftHand {

        position: absolute; 
        top: 275px;
        left: 765px;
        height: auto; 
        width: 10%;
        animation: LeftHandMovement 1s ease-in-out infinite; /* Animation attached here */
        
        }
        
        .sectionPicLeftHand img {
          width: 200px; /* Ensure the image scales down to fit within the container */
          height: 200px; /* Keep the image’s aspect ratio */
        }






        /* This is the left shoe part of the character*/


        .sectionPicLeftShoe {

          position: absolute; 
          top: 600px;
          left: 895px;
          height: auto; 
          width: 10%;
          animation: LeftShoeMovement 1.5s ease-in-out infinite; /* Animation attached here */
          
          }
          
          .sectionPicLeftShoe img {
            width: 300px; /* Ensure the image scales down to fit within the container */
            height: 150px; /* Keep the image’s aspect ratio */
          }







        /* This is the right arm part of the character*/


        .sectionPicRightArm {

          position: absolute; 
          top: 403px;
          left: 1156px;
          height: auto; 
          width: 10%;
          /*animation: LeftHandMovement 1s ease-in-out infinite;  Animation attached here */
          
          }
          
          .sectionPicRightArm img {
            width: 200px; /* Ensure the image scales down to fit within the container */
            height: 85px; /* Keep the image’s aspect ratio */
          }






        /* This is the right hand part of the character*/

      .sectionPicRightHand {

        position: absolute; 
        top: 385px;
        left: 1250px;
        height: auto; 
        width: 10%;
        animation: RightHandMovement 1.5s ease-in-out infinite; /* Animation attached here */
        }
        
        .sectionPicRightHand img {
          width: 250px; /* Ensure the image scales down to fit within the container */
          height: 150px; /* Keep the image’s aspect ratio */
        }








      /* This is the tail part of the character*/

      .sectionPicTail {

        position: absolute; 
        top: 475px;
        left: 1090px;
        height: auto; 
        width: 10%;
        animation: tailWiggle 1s ease-in-out infinite; /* Animation attached here */
        
        }
        
        .sectionPicTail img {
          width: 200px; /* Ensure the image scales down to fit within the container */
          height: 100px; /* Keep the image’s aspect ratio */
        }












.section__pic-container {

position: absolute; 
top: 190px;
left: 600px;
height: auto; 
width: 10%;

}

.section__pic-container img {
  width: 900px; /* Ensure the image scales down to fit within the container */
  height: 500px; /* Keep the image’s aspect ratio */
}



.section__pic-container2 {
  display: flex;
  justify-content: center;
  align-items: left;
  height: 400px;
  width: 200px;
  margin: 100px 0 100px 200px;
  color: white;
}

.section__text {
  flex: 0 1 100%; /* Allow the container to shrink to 50% of its parent */
  max-width: 600px; /* Set a maximum width */
  margin: 0 auto 0 -25%; /* Center the text horizontally */
  text-align: left;
  color: white;
  
}
.section__text__p0 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: white;
}

.section__text p {
  font-weight: 600;
  color: white;
}

.section__text__p1 {
  text-align: left;
  color: white;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: white;
}

.title {
  font-size: 3rem;
  text-align: left;
  color: white;
}

#socials-container {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  padding-top:55px;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: white;
  background: rgb(50,50,50);
}

.btn-color-1 {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-color-2 {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover {

  background: rgb(50, 50, 50);
  color: rgb(255, 255, 255);


}
.btn-color-2:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: rgb(50, 50, 50);

}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background:  rgb(41, 41, 42);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;

  background:  rgb(41, 41, 42);
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background:  rgb(41, 41, 42);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: rgb(255, 255, 255);
}

.project-btn {
  color: rgb(255, 255, 255);
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border:  rgb(41, 41, 42) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}


